body {
  background-image: url(../img/img6.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.box {
  position: relative;
  background-image: url(../img/img6.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  top: 17px;
}
