body {
  background-color: whitesmoke;
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 1.43;
  color: #ccc;
}

a:link {
  font-size: 16px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a:visited {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

::selection {
  color: #fff;
  background-color: #333;
}

::-moz-selection {
  color: #fff;
  background-color: #333;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*nav*/
.top-nav {
  position: absolute;
  width: 100%;
  top: 0;
  height: auto;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.logo {
  width: 110px;
  padding: 12px 18px;
  border-right: 1px solid #ccc;
  vertical-align: middle;
}

#nav-search-wrapper {
  height: 100%;
  background-color: whitesmoke;
  display: inline-block;
}

#nav-search-wrapper form input {
  display: block;
  width: 300px;
  padding: 22px 10px 18px 52px;
  border: none;
  outline: none;
  font-size: 15px;
  color: #666;
  box-sizing: border-box;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: 20px;
}

.top-nav ul {
  float: right;
  padding: 16px 0;
}

.top-nav ul li {
  display: inline-block;
  margin: 0 30px;
  vertical-align: middle;
}

.top-nav ul li a:link {
  color: #484848;
  font-size: 14px;
}

.top-nav ul li a:visited {
  color: #484848;
}

/* Container */

.wrapper {
  width: 100%;
  max-width: 90%;
  margin: auto;
  overflow: hidden;
  position: absolute;
  top: 100px;
  left: 80px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0px;
  padding-top: 56.25%;
}

/* Images */

.carousel-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  width: 100%;
  transition: opacity ease-out 0.5s;
}

.carousel-img-displayed {
  display: block;
  opacity: 1;
  z-index: 2;
}

.carousel-img-hidden {
  display: block;
  opacity: 0;
  z-index: 1;
}

.carousel-img-noDisplay {
  display: none;
}

/* Flèches de défilement */

.carousel-arrow {
  z-index: 3;
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  top: 50%;
  margin-top: -18px;
  border-radius: 50%;
  border: 0;
  background-color: #fff;
  background-image: url("http://res.cloudinary.com/dnqehhgmu/image/upload/v1509720334/blue-arrow_jk1ydw.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  cursor: pointer;
  transition: background-size 0.15s ease-out;
}

.carousel-arrow:hover,
.carousel-arrow:focus {
  background-size: 22px 22px;
}

.carousel-arrow-next {
  right: 20px;
}

.carousel-arrow-prev {
  left: 20px;
  transform: rotateZ(180deg);
}

.card {
  top: 1000px;
  display: inline-block;
  margin: 80px;
}

.card-body {
  width: 50%;
  height: 50%;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}
